$primary-color:#1B85c3;
$secondary-color: #192123;
$light-blue-color:#227EAF;
$link-color: #06406E;

$font-stack: 'Lora', serif;


html, body {
	margin: 0;
	padding: 0;
	font-family: $font-stack;
}

.wrapper {
	margin: 0 10%;
}

header {

	nav {
		display: flex;

		ul {
			display: flex;
			list-style-type: none;
			margin-left: auto;
			padding-right: 10%;

			li {
				margin: auto 15px;
				font-family: $font-stack;

			}

			.fab {
				height: auto;
				color: white;

				&:hover {
				color: $link-color;
				}
			}
		}

		&.icons {
			height: 50px;
			background-color: $secondary-color;

			.button{
				display: block;
				padding: 10px 25px;
				margin: auto 0;
				font-weight: 600;
				font-size: 14px;
				margin-left: 10%;
				background-color: white;
				border-radius: 4px;
				text-decoration: none;
				color: $secondary-color;
				font-family: $font-stack;


				&:hover {
					background-color: $link-color;
					color: white;
				}

				a {
					color: $secondary-color;
					position: relative;
					text-decoration: none;
				}
			}

			ul {

				li {
					position: relative;
					bottom: 8px;
				}
			}
		}

		&.links {
			height: 65px;
			font-size: 14px;
			font-weight: bold;

			a {
				text-decoration: none;
				color: $secondary-color;

				&:hover {
					color: $link-color;
				}
			}

			.logo {
				width: 100px;
				margin-left: 9.5%;

				img {
					max-width: 100px;
					position: relative;
					bottom: 10px;
				}
			}
		}
	}
}

#hero {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	background-image: url("../img/campus.jpg");
	background-size: cover;
	background-position: 50% 60%;
	background-repeat: no-repeat;

	.modal {
		width: 300px;
		display: flex;
		height: 370px;
		align-items: center;
		border: 1px solid black;
		position: relative;
		justify-content: center;
		bottom: 10px;
		left: 140px;
		padding-bottom: 25px;
		background-color: rgba( $secondary-color, .6);

		.fa-lightbulb:before {
			color: white;
		}

		h2, p {
			color: white;
			font-family: $font-stack;
		}

		input {
			width: 180px;
			padding: .4em;
			margin-bottom: 10px;
			text-align: center;
			font-size: 12px;
			font-family: $font-stack;
			border-radius: 5px;
		}
	}

	.button {
		display: block;
		width: 200px;
		padding: .5em;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		color: $secondary-color;
		background-color: white;
		text-decoration: none;
		font-size: 20px;
		border-radius: 5px;
		font-family: $font-stack;
	}
}

.title {
	display: inline-block;
	margin: 35px 10%;
	color: $secondary-color;
}

main {
	display: flex;
	font-family: $font-stack;

		section {
			flex: 2;
			display: flex;
			justify-content: center;
			align-items: center;

			div {
				height: 480px;
				max-width: 300px;
				margin-right: 50px;
				box-shadow: 0px 0px 6px;
				border-radius: 3px;
			}

			h4 {
				color: $secondary-color;
				padding-bottom: 5px;
				padding-left: 5px;

				&:after {

				}
			}

			p {
				padding-left: 5px;
			}

			.button {
				position: relative;
				left: 80px;
				top: 20px;
				padding: 10px 25px;
				margin: auto 0;
				font-weight: 600;
				font-size: 14px;
				background-color: white;
				border-radius: 4px;
				text-decoration: none;
				color: $link-color;
				border: 2px solid $link-color;
				font-family: $font-stack;

				&:hover{
					background-color: $link-color;
					color: white;
				}
			}

			img {
				max-width: 300px;
				height: 200px;
				border-radius: 3px;
			}
		}

	aside {
		flex: 1;
		position: relative;
		bottom: 65px;

		h1 {
			margin-top: 0;
			margin-bottom: 13px;
		}

		.flex-buttons {
			display: flex;
		}

		.button {
			display: block;
			width: 100px;
			padding: .4em;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			color: $link-color;
			background-color: white;
			text-decoration: none;
			font-size: 16px;
			border: 2px solid $link-color;
			border-radius: 5px;
			font-family: $font-stack;
			text-align: center;

			&:hover {
				background-color: $link-color;
				color: white;
			}
		}

		.container {
			display: flex;
			margin-top: 25px;

			.container-image {
				margin: auto;

				img {
					border-radius: 3px;
				}
			}

			.container-text {
				font-size: 14px;
				line-height: 1;
				padding-left: 10px;

				p {
					margin: 0;
				}
			}
		}
	}
	}






