html, body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif; }

.wrapper {
  margin: 0 10%; }

header nav {
  display: flex; }
  header nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding-right: 10%; }
    header nav ul li {
      margin: auto 15px;
      font-family: "Lora", serif; }
    header nav ul .fab {
      height: auto;
      color: white; }
      header nav ul .fab:hover {
        color: #06406E; }
  header nav.icons {
    height: 50px;
    background-color: #192123; }
    header nav.icons .button {
      display: block;
      padding: 10px 25px;
      margin: auto 0;
      font-weight: 600;
      font-size: 14px;
      margin-left: 10%;
      background-color: white;
      border-radius: 4px;
      text-decoration: none;
      color: #192123;
      font-family: "Lora", serif; }
      header nav.icons .button:hover {
        background-color: #06406E;
        color: white; }
      header nav.icons .button a {
        color: #192123;
        position: relative;
        text-decoration: none; }
    header nav.icons ul li {
      position: relative;
      bottom: 8px; }
  header nav.links {
    height: 65px;
    font-size: 14px;
    font-weight: bold; }
    header nav.links a {
      text-decoration: none;
      color: #192123; }
      header nav.links a:hover {
        color: #06406E; }
    header nav.links .logo {
      width: 100px;
      margin-left: 9.5%; }
      header nav.links .logo img {
        max-width: 100px;
        position: relative;
        bottom: 10px; }

#hero {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../img/campus.jpg");
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat; }
  #hero .modal {
    width: 300px;
    display: flex;
    height: 370px;
    align-items: center;
    border: 1px solid black;
    position: relative;
    justify-content: center;
    bottom: 10px;
    left: 140px;
    padding-bottom: 25px;
    background-color: rgba(25, 33, 35, 0.6); }
    #hero .modal .fa-lightbulb:before {
      color: white; }
    #hero .modal h2, #hero .modal p {
      color: white;
      font-family: "Lora", serif; }
    #hero .modal input {
      width: 180px;
      padding: .4em;
      margin-bottom: 10px;
      text-align: center;
      font-size: 12px;
      font-family: "Lora", serif;
      border-radius: 5px; }
  #hero .button {
    display: block;
    width: 200px;
    padding: .5em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #192123;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Lora", serif; }

.title {
  display: inline-block;
  margin: 35px 10%;
  color: #192123; }

main {
  display: flex;
  font-family: "Lora", serif; }
  main section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center; }
    main section div {
      max-width: 300px;
      margin-right: 50px; }
    main section h4 {
      color: #192123;
      padding-bottom: 5px; }
    main section .button {
      padding: 10px 25px;
      margin: auto 0;
      font-weight: 600;
      font-size: 14px;
      background-color: white;
      border-radius: 4px;
      text-decoration: none;
      color: #192123;
      border: 2px solid #192123;
      font-family: "Lora", serif; }
    main section img {
      max-width: 300px;
      height: 200px; }
  main aside {
    flex: 1;
    position: relative;
    bottom: 65px; }
    main aside h1 {
      margin-top: 0;
      margin-bottom: 13px; }
    main aside .flex-buttons {
      display: flex; }
    main aside .button {
      display: block;
      width: 50px;
      padding: .5em;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      color: #192123;
      background-color: white;
      text-decoration: none;
      font-size: 16px;
      border: 2px solid #192123;
      border-radius: 5px;
      font-family: "Lora", serif;
      text-align: center; }

/*# sourceMappingURL=styles.css.map */
